<div class="container">
  <h1>Create a new note</h1>
  
  <form action="/note/new" method="post">
    <label for="note">Title:</label> 
    <br>
    <input type="text" name="note[title]">
    <br>
    <br>
    <label for="note">Note:</label>
    <br>
    <br>
    <textarea  rows="10" cols="30" placeholder="Note" name="note[body]"></textarea>
    <br>
    <br>
    <input type="submit" value="Create note">
  </form>
</div> 
